body {
  background: linear-gradient(
    #3a4d39,
    #88ab8e,
    #afc8ad,
    #afc8ad,
    #88ab8e,
    #3a4d39
  );
}

.App {
  font-family: "Hind", sans-serif;
  color: #3a4d39;
} 

.App .body-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .body-container .weather-body {
  padding: 80px 0px;
  margin: 100px 0px;
  position: relative;
  border: 0.5px solid #EEE7DA;
  border-radius: 8px;
  width: 65%;
  height: 60%;
  overflow: hidden;
}

.App .body-container .weather-body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-image: url(../public/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.open-source a {
  color: #fff;
}

.open-source{
  color: #fff;
}

.App .weather-body .Search {
  margin: 0px 0px 50px 0px;
  width: 100%;
  position: relative;
}

.App .Search .search-container  {
  display: flex;
  justify-content: center;
}

.App .Search .search-container form {
  display: flex;
}

.App .Search .search-container .input-container {
  padding-right: 25px;
}

.App .Search .search-container .input-container input {
  border: 0.2px solid #3a4d39;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
}

.App .Search .search-container .search-button-container button {
  padding: 10px;
  border: 0.2px solid #3a4d39;
  background-color: #3a4d39;
  color: #f2f1eb;
  border-radius: 4px;
  font-size: 20px;
}

.App .weather-body .Results {
  width: 100%;
  margin: 0px;
  position: relative;
}

.App .Results .WeatherInfo .result-weather-row {
  display: flex;
  padding: 0px 100px;
}

.App .Results .WeatherInfo .result-weather-row .forecast-result-container {
  min-width: 30%;
  font-size: 20px;
}

.App .Results .WeatherInfo .Forecast .separator-line {
  height: 1px;
  width: 100%;
  background-color: #3a4d39;
  margin: 15px 0px;
}

.App .Results .WeatherInfo .Forecast .day-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.App .Results .WeatherInfo .Forecast .day-container .weekday p,
.App .Results .WeatherInfo .Forecast .day-container .degree-forecast {
  font-weight: 700;
  color: #f2f1eb;
  text-shadow: 1px 1px 5px #3a4d39;
}

.App .Results .WeatherInfo .Forecast .day-container .ForecastWeatherDays {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.App .Results .WeatherInfo .result-weather-row .complete-result-container {
  min-width: 70%;
  margin-left: 80px;
}

.App .Results .WeatherInfo .Temperature {
  min-height: 100%;
}

.App .Results .WeatherInfo .Temperature .Position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.App .Results .WeatherInfo .Temperature .Position .position-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.App .Results .WeatherInfo .Temperature .Position .position-result-container .city-name-container {
  font-weight: 900;
  color: #f2f1eb;
  text-shadow: 1px 1px 10px #3a4d39;
  font-size: 50px;
  margin: 0px 0px 50px 0px;
}

.App .Results .WeatherInfo .Temperature .Position .position-result-container .date-hour-container {
  padding: 5px;
  margin: 0px;
  width: 70%;
  font-size: 25px;
}

.App .Results .WeatherInfo .Temperature .Position .position-result-container .date-hour-container .FormattedDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App .Results .WeatherInfo .Temperature .Position .position-result-container .date-hour-container .FormattedDate .day-month-year-container {
  margin-top: 10px;
}

.App .Results .WeatherInfo .Temperature .Position .Daily {
  width: 100%;
  margin-top: 40px;
}

.App .Results .WeatherInfo .Temperature .Position .Daily .temperature-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App .Results .WeatherInfo .Temperature .Position .Daily .today-degree-container .measurement-temperature a {
  text-decoration: none;
  color: #3a4d39;
}

.App .Results .WeatherInfo .Temperature .Position .Daily .today-degree-container .measurement-temperature a:hover {
  text-decoration:underline;
  color: #88ab8e;
}

.App .Results .WeatherInfo .Temperature .Position .Daily .temperature-container .Degree {
  width: 70%;
}

.App .Results .WeatherInfo .Temperature .Position .Daily .Degree .temperature-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.App .Results .WeatherInfo .Temperature .Position .Daily .Degree .temperature-info .today-degree-container {
  font-size: 35px;
  font-weight: bold;
}

.App .Results .WeatherInfo .Temperature .Position .Daily .Degree .temperature-info .today-degree-container .day-temperature-info {
  display: flex;
}

.App .Results .WeatherInfo .Temperature .Position .Daily .Degree .temperature-info .today-degree-container .day-temperature-info .WeatherTemperature{
  display: flex;
  align-items: center;
}

.App .Results .WeatherInfo .Temperature .Position .Daily .Degree .temperature-info .today-degree-container .day-temperature-info .number-degree{
  margin-right: 10px;
}

.App .Results .WeatherInfo .Temperature .Position .Daily .temperature-container .WeatherInformation {
  margin-top: 100px;
  width: 100%;
  font-size: 20px;
}

.App .Results .WeatherInfo .day-info {
  display: flex;
  justify-content: space-around;
}

.App .Results .WeatherInfo .day-info .detail-day-info {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.App .Results .WeatherInfo .day-info .detail-day-info .min-temperature,
.App .Results .WeatherInfo .day-info .detail-day-info .max-temperature,
.App .Results .WeatherInfo .day-info .detail-day-info .windspeed,
.App .Results .WeatherInfo .day-info .detail-day-info .description {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1300px) and (max-width: 1360px) {
  .App .Results .WeatherInfo .day-info .detail-day-info {
    width: 80%;
  }
}

@media (min-width: 851px) and (max-width: 1299px) {
  .App .Results .WeatherInfo .day-info .detail-day-info {
    width: 90%;
  }
  .App .body-container .weather-body {
    height: 50%;
  }
}

@media (min-width: 851px) and (max-width: 1300px) {
  .App .Results .WeatherInfo .result-weather-row .complete-result-container {
    margin-left: 60px;
  }
  .App .Results .WeatherInfo .Forecast .separator-line {
    margin: 7px 0px;
  }
  .App .Results .WeatherInfo .Temperature .Position .position-result-container .date-hour-container {
    width: 80%;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily .temperature-container .WeatherInformation {
    width: 100%;
    margin-top: 50px;
  }
}

@media (min-width: 851px) and (max-width: 1111px) {
  .App .Results .WeatherInfo .Temperature .Position .Daily .temperature-container .Degree {
    width: 90%;
  }
  .App .Results .WeatherInfo .Temperature .Position .position-result-container .city-name-container {
    font-size: 40px;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily .temperature-container .WeatherInformation {
    font-size: 16px;
  }
  .App .Results .WeatherInfo .Temperature .Position .position-result-container .date-hour-container {
    font-size: 20px;
  }
  .App .Results .WeatherInfo .result-weather-row .forecast-result-container {
    font-size: 17px;
  }
}

@media (min-width: 851px) and (max-width: 991px) {
  .App .Results .WeatherInfo .Temperature .Position .Daily .Degree .temperature-info .today-degree-container {
    font-size: 30px;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily .Degree .temperature-info .icon-temperature-container canvas {
    height: 80px;
    width: 80px;
  }
  .App .Search .search-container .input-container input {
    font-size: 15px;
    padding: 7px;
  }
  .App .Search .search-container .search-button-container button {
    padding: 7px;
    font-size: 15px;
  }
  .App .Results .WeatherInfo .Forecast .day-container .ForecastWeatherDays .icon-weather canvas {
    height: 30px;
    width: 30px;
  }
  .App .Results .WeatherInfo .result-weather-row {
    padding: 0px 60px;
  }
}

@media (min-width: 625px) and (max-width: 991px) {
  .App .body-container .weather-body {
    padding: 50px 0px;
  }
}

@media (min-width: 790px) and (max-width: 850px) {
  .App .Results .WeatherInfo .Temperature .Position .Daily .temperature-container .WeatherInformation {
    margin-top: 30px;
    font-size: 16px;
  }
  .App .Results .WeatherInfo .result-weather-row .complete-result-container {
    margin-left: 30px;
  }
  .App .Results .WeatherInfo .result-weather-row {
    padding: 0px 40px;
  }
  .App .Results .WeatherInfo .forecast-container{
    font-size: 15px;
  }
}

@media (min-width: 625px) and (max-width: 850px) {
  .App .Results .WeatherInfo .Temperature .Position .Daily .temperature-container .Degree {
    width: 100%;
  }
  .App .Results .WeatherInfo .Temperature .Position .position-result-container .date-hour-container {
    width: 90%;
  }
  .App .Results .WeatherInfo .Forecast .separator-line {
    margin: 3px 0px;
  }
  .App .Results .WeatherInfo .Temperature .Position .position-result-container .city-name-container {
    font-size: 30px;
  }
  .App .Results .WeatherInfo .day-info .detail-day-info {
    width: 95%;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily .Degree .temperature-info .today-degree-container {
    font-size: 22px;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily .Degree .temperature-info .icon-temperature-container canvas {
    height: 60px;
    width: 60px;
  }
  .App .Search .search-container .input-container input {
    font-size: 15px;
    padding: 5px;
  }
  .App .Search .search-container .search-button-container button {
    padding: 5px;
    font-size: 15px;
  }
  .App .Results .WeatherInfo .Forecast .day-container .ForecastWeatherDays .icon-weather canvas {
    height: 25px;
    width: 25px;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily {
    margin-top: 20px;
  }
  .App .Results .WeatherInfo .Temperature .Position .position-result-container {
    margin-bottom: 20px;
  }
  .App .Results .WeatherInfo .Forecast .day-container .weekday p,
  .App .Results .WeatherInfo .Forecast .day-container .degree-forecast {
    font-weight: 300;
    margin: 5px 0px;
  }
  .App .Results .WeatherInfo .Temperature .Position .position-result-container .date-hour-container {
    font-size: 15px;
  }
  .App .body-container .weather-body {
    padding: 40px 0px;
  }
  .App .Results .WeatherInfo .result-weather-row .forecast-result-container {
    min-width: 20%;
  }
  .App .Results .WeatherInfo .Temperature .Position {
    padding: 0px;
  }
  .App .body-container .weather-body {
    height: 30%;
  }
}


@media (min-width: 625px) and (max-width: 789px) {
  .App .Results .WeatherInfo .result-weather-row {
    padding: 0px 30px;
  }
  .App .Results .WeatherInfo .result-weather-row .complete-result-container {
    margin-left: 10px;
    min-width: 80%;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily .temperature-container .WeatherInformation {
    margin-top: 20px;
    font-size: 16px;
  }
  .App .Results .WeatherInfo .forecast-container{
    font-size: 12px;
  }
}

@media (max-width: 624px) {
  .App .Results .WeatherInfo .result-weather-row {
    padding: 0px 1px;
    display: block;
  }
  .App .Results .WeatherInfo .forecast-container {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
  }
  .App .Results .WeatherInfo .Forecast .separator-line {
    display: none;
  }
  .App .Results .WeatherInfo .Forecast .ForecastWeatherDays {
    display: flex;
    flex-direction: column;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily .temperature-container .Degree {
    width: 90%;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily .Degree .day-info .detail-day-info {
    width: 80%;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily .Degree .temperature-info .icon-temperature-container canvas {
    height: 40px;
    width: 40px;
  }
  .App .Results .WeatherInfo .Forecast .day-container .weekday p,
  .App .Results .WeatherInfo .Forecast .day-container .degree-forecast {
    font-weight: 100;
    margin: 0px 0px;
  }
  .App .body-container .weather-body {
    padding: 30px 0px;
  }
  .App .Results .WeatherInfo .result-weather-row .complete-result-container {
    margin-left: 5px;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily {
    margin-top: 10px;
  }
  .App .Results .WeatherInfo .Temperature .Position .position-result-container {
    margin-bottom: 10px;
  }
  .App .Results .WeatherInfo .Temperature .Position .position-result-container .city-name-container {
    margin-bottom: 30px;
  }
  .App .Results .WeatherInfo .Temperature .Position {
    padding-bottom: 0px;
  }
}

@media (min-width: 555px) and (max-width: 624px) {
  .App .Results .WeatherInfo .result-weather-row {
    padding: 0px 10px;
  }
  .App .Results .WeatherInfo .result-weather-row .forecast-result-container {
    min-width: 20%;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily .temperature-container .WeatherInformation {
    margin-top: 20px;
  }
  .App .Results .WeatherInfo .Forecast .separator-line {
    margin: 2px 0px;
  }
  .App .Results .WeatherInfo .Temperature .Position .position-result-container .date-hour-container {
    font-size: 18px;
    width: 80%;
  }
  .App .Results .WeatherInfo .day-info .detail-day-info {
    font-size: 15px;
    width: 90%;
  }
}

@media (min-width: 380px) and (max-width: 624px) {
  .App .Results .WeatherInfo .Temperature .Position .position-result-container .city-name-container {
    font-size: 25px;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily .Degree .temperature-info .today-degree-container {
    font-size: 20px;
  }
  .App .Search .search-container .input-container input {
    font-size: 12px;
    padding: 5px;
  }
  .App .Search .search-container .search-button-container button {
    padding: 5px;
    font-size: 12px;
  }
  .App .Results .WeatherInfo .Forecast .day-container .ForecastWeatherDays .icon-weather canvas {
    height: 17px;
    width: 17px;
  }
  .App .body-container .weather-body {
    height: 35%;
  }
}

@media (min-width: 380px) and (max-width: 555px) {
  .App .Results .WeatherInfo .Temperature .Position .Daily .temperature-container .WeatherInformation {
    margin-top: 20px;
  }
  .App .Results .WeatherInfo .Temperature .Position .position-result-container .date-hour-container {
    font-size: 15px;
    width: 80%;
  }
  .App .Results .WeatherInfo .day-info .detail-day-info {
    font-size: 12px;
    width: 90%;
  }
}

@media (max-width: 379px) {

  .App .Results .WeatherInfo .Temperature .Position .Daily .temperature-container .WeatherInformation {
    margin-top: 10px;
  }
  .App .Results .WeatherInfo .Temperature .Position .position-result-container .city-name-container {
    font-size: 20px;
  }
  .App .Results .WeatherInfo .Temperature .Position .Daily .Degree .temperature-info .today-degree-container {
    font-size: 12px;
  }
  .App .Results .WeatherInfo .Temperature .Position .position-result-container .date-hour-container {
    font-size: 12px;
    width: 80%;
  }
  .App .Results .WeatherInfo .day-info .detail-day-info {
    font-size: 10px;
    width: 90%;
  }
  .App .Search .search-container .input-container input {
    font-size: 10px;
    padding: 2px;
  }
  .App .Search .search-container .search-button-container button {
    padding: 2px;
    font-size: 10px;
  }
  .App .Results .WeatherInfo .Forecast .day-container .ForecastWeatherDays .icon-weather canvas {
    height: 13px;
    width: 13px;
  }
  .App .body-container .weather-body {
    height: 30%;
  }
}
