.Daily .today-degree-container .measurement-temperature a {
  text-decoration: none;
  color: #3a4d39;
}

.Daily .today-degree-container .measurement-temperature a:hover {
  text-decoration:underline;
  color: #88ab8e;
}

